.header .rs-panel {
  background: #fff;
}
.header .chart-img {
  width: 100px;
  position: absolute;
  left: 26px;
  top: 34px;
}
.header .trend-box .rs-panel-body {
  text-align: right;
}
.header .trend-box .rs-panel-body .value {
  font-size: 36px;
}
.colorful-chart {
  color: #fff;
  margin-top: 30px;
  border-radius: 6px;
}
.colorful-chart h3 {
  line-height: 22px;
  text-align: right;
  color: rgba(255, 255, 255, 0.5);
  padding: 10px;
}
.ct-chart-magenta {
  background: linear-gradient(60deg, #ec407a, #d81b60);
}
.ct-chart-magenta .ct-label {
  color: #eee;
}
.ct-chart-magenta .ct-series-a .ct-bar,
.ct-chart-magenta .ct-series-a .ct-slice-donut,
.ct-chart-magenta .ct-series-a .ct-line,
.ct-chart-magenta .ct-series-a .ct-point {
  stroke: #eee;
}
.ct-chart-magenta .ct-grid {
  stroke: hsla(0, 0%, 100%, 0.2);
}
.ct-chart-orange {
  background: linear-gradient(60deg, #ffa726, #fb8c00);
}
.ct-chart-orange .ct-label {
  color: #eee;
}
.ct-chart-orange .ct-series-a .ct-bar,
.ct-chart-orange .ct-series-a .ct-slice-donut,
.ct-chart-orange .ct-series-a .ct-line,
.ct-chart-orange .ct-series-a .ct-point {
  stroke: #eee;
}
.ct-chart-orange .ct-grid {
  stroke: hsla(0, 0%, 100%, 0.2);
}
.ct-chart-azure {
  background: linear-gradient(60deg, #26c6da, #00acc1);
}
.ct-chart-azure .ct-label {
  color: #eee;
}
.ct-chart-azure .ct-series-a .ct-bar,
.ct-chart-azure .ct-series-a .ct-slice-donut,
.ct-chart-azure .ct-series-a .ct-line,
.ct-chart-azure .ct-series-a .ct-point {
  stroke: #eee;
}
.ct-chart-azure .ct-grid {
  stroke: hsla(0, 0%, 100%, 0.2);
}
.simple-chart {
  background: #fff;
  margin-top: 30px;
  border-radius: 6px;
}
.simple-chart h3 {
  line-height: 22px;
  padding: 20px;
}
.simple-chart .ct-chart-pie .ct-label {
  color: #fff;
  fill: #fff;
}
.simple-chart .ct-chart-pie .ct-series-a .ct-slice-pie {
  fill: #42c2dc;
}
.simple-chart .ct-chart-pie .ct-series-b .ct-slice-pie {
  fill: #13ba9e;
}
.simple-chart .ct-chart-pie .ct-series-c .ct-slice-pie {
  fill: #a873e6;
}
.simple-chart .ct-chart-pie .ct-series-d .ct-slice-pie {
  fill: #1464ac;
}
