.landing-page {
  height: 100vh;
}

.landing-page .header-hrand {
  padding: 18px;
  font-size: 16px;
  height: 56px;
  background: #34c3ff;
  white-space: nowrap;
  overflow: hidden;
}
.landing-page .header-hrand a {
  color: #fff;
  text-decoration: none;
}
.landing-page .rs-sidebar {
  box-shadow: none;
}
.landing-page .rs-sidenav {
  flex: 1 1 auto;
  transition: none !important;
  border-top: 1px solid red;
  width: 100%;
}
.landing-page .rs-content {
  padding: 20px;
}
.landing-page .nav-toggle {
  border-top: 1px solid burlywood;
}
.landing-page .nav-item-active {
  color: white !important;
}
